<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/') 
    } %> 
  
<%- messages() %>
  
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>



<form id="addInvForm" action="/inv/addinv" method="post">

    <label for="classification_id">Classification:</label>
    <%- classification_list %>
    
    <%# locals.classification_id %>

    <label for="inv_make">Make:</label>
    <input id="inv_make" type="text" name="inv_make" required pattern="^[A-Za-z]+$" value="<%= locals.inv_make %>">
  
    <label for="inv_model">Model:</label>
    <input id="inv_model" type="text" name="inv_model" required pattern="^[A-Za-z]+$" value="<%= locals.inv_model %>">

    <label for="inv_year">Year:</label>
    <input id="inv_year" type="text" name="inv_year" required pattern="^[0-9]{4}$" value="<%= locals.inv_year %>">

    <label for="inv_description">Description:</label>
    <textarea id="inv_description" name="inv_description" required><%= locals.inv_description %></textarea>

    <label for="inv_image">Images Path:</label>
    <span>ex. /images/vehicles/filename.extension</span>
    <input id="inv_image" type="text" name="inv_image" required pattern="^[A-Za-z./]+$" value="<%= locals.inv_image %>">

    <label for="inv_thumbnail">Thumbnail Path:</label>
    <span>ex. /images/vehicles/filename-tn.extension</span>
    <input id="inv_thumbnail" type="text" name="inv_thumbnail" required pattern="^[A-Za-z./]+$" value="<%= locals.inv_thumbnail %>">

    <label for="inv_price">Price:</label>
    <input id="inv_price" type="text" name="inv_price" required pattern="^[0-9]+$" value="<%= locals.inv_price %>">

    <label for="inv_miles">Miles:</label>
    <input id="inv_miles" type="text" name="inv_miles" required pattern="^[0-9]+$" value="<%= locals.inv_miles %>">

    <label for="inv_color">Color:</label>
    <input id="inv_color" type="text" name="inv_color" required pattern="^[A-Za-z]+$" value="<%= locals.inv_color %>">

    <input id="invSubmit"  type="submit" value="Add Car">
</form>
